# All dependencies are pinned to the exact version to guarantee
# determinstic builds.
save-prefix ""

# Store cache and yarn install
yarn-offline-mirror ".yarn/cache"
yarn-path ".yarn/releases/yarn-1.22.10.js"
